<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div id="conditional-rendering">
      <span v-if="seen">现在你看到我了</span>
      <ol>
        <li v-for="todo in todos">{{todo}}</li>
      </ol>
    </div>
    <script src="https://unpkg.com/vue@next"></script>
    <script>
      const ConditionalRendering = {
        data () {
          return {
            seen: false,
            todos: ['吃饭', '睡觉', '关注三连']
          }
        }
      }

      Vue.createApp(ConditionalRendering).mount('#conditional-rendering')
    </script>
  </body>
</html>
